<h1><%= content.title %></h1>
<p><%= content.body %></p>

<nav>
    <a href="/">Главная</a> | 
    <a href="/users">Пользователи</a> | 
    <a href="/edit">Редактирование контента</a> | 
    <a href="/register">Добавить админа</a> |
    <a href="/logout">Выход</a>
</nav>
