<h1>Вход в админку</h1>
<a href="/public">Главная</a> 
<form method="POST" action="/login">
    <label>Имя пользователя:</label>
    <input type="text" name="username" required>
    <br>
    <label>Пароль:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Войти</button>
</form>
